body {
  background-color: #f6f6f6;
  padding-top: 30px;
}
.main {
  background-color: #fff;
  border: 1px solid #CCC;
  padding: 40px;
}
.container {
  width: 1100px;
}
.nav-list {
  font-size: 17px;
}
.nav-header {
  font-size: 17px;
  text-transform: none;
  line-height: 30px;
}
.sidebar-header-2 { margin-left: 10px; }
.sidebar-header-3 { margin-left: 20px; }
.sidebar-header-4 { margin-left: 30px; }
.sidebar-header-5 { margin-left: 40px; }

.row-fluid .span3 {
    position:sticky;
    top:10px;
}

table, th, td {
  border-bottom: 1px solid black;
}

th, td {
  padding: 15px;
  text-align: left;
}

tr th:nth-child(2) {
	border-left: 1px solid black;
}

tr td:nth-child(2) {
	border-left: 1px solid black;
}

tr th:nth-child(3) {
	border-left: 1px solid black;
}

tr td:nth-child(3) {
	border-left: 1px solid black;
}

a {
	color: #114292!important;
}

li a:hover {
	text-decoration:underline;
	color: #114292!important;
}

ul li:hover {
	text-decoration:underline;
	color: #114292;
}

ul li a:hover {
	text-decoration:underline;
	color: #114292!important;
}