﻿<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="../vendor/Font-Fira-Sans-Condensed.css">
  <link rel="stylesheet" type="text/css" href="../vendor/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="../vendor/bootstrap303.min.css"/>
  <link rel="stylesheet" type="text/css" href="../css/mystyle.css"/>
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon"/>
  <title>GetMetadata</title>
  <script src="../vendor/jquery.min.js"></script>
  <script src="../vendor/bootstrap303.min.js"></script>
  <script src="../vendor/mustache.min.js"></script>
  <script src="../js/util.js"></script>
  <script src="../js/common.js"></script>

  <script id="subhtemplate" type="text/html">
    {{#attributeSet.reportedAttributes}}
    <a id="{{id}}-i1" class="Cl-SummaryItemLink" href="#link_{{id}}">{{id}}</a>
    <br>
    {{/attributeSet.reportedAttributes}}
  </script>
  <script id="header1Rowtemplate" type="text/html">
    <tr>
      <td class="Cl-Level1" colspan="2" id="{{id}}-l1">
        <a name="{{id}}"></a><a name="link_{{id}}"></a>
        <table class="Cl-HeaderAttributeTable">
          <tbody>
          <tr>
            <td class="Cl-Level1-NoBorder"><span id="{{id}}-r1"></span><a name="link_{{id}}"></a>{{id}}</td>
            <td align="right"><a class="DocCommon" href="#">Top</a></td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </script>
  <script id="headerRowtemplate" type="text/html">
    <tr>
      <td class="Cl-Level2" colspan="2"><span id="{{id}}-r1"></span><a name="link_{{id}}"></a>{{id}}</td>
    </tr>
  </script>
  <script id="value1Rowtemplate" type="text/html">
    <tr>
      <td class="Cl-Level1" colspan="2" id="{{id}}-l1">
        <a name="{{id}}"></a><a name="link_{{id}}"></a>
        <table class="Cl-HeaderAttributeTable">
          <tbody>
          <tr id="{{id}}-tr">
            <td class="Cl-Level1-NoBorder">
              <span id="{{id}}-r1"></span>
              <a name="link_{{id}}">{{id}}</a>
              {{#attachedFile}}
              <a class="Cl-AttributeAttachedFileDownloadButton"
                 href="{{>nodeApiUrl}}/ReferenceMetadataFileOnServer?filename={{filename}}&nodeId={{>nodeApiNodeId}}">
                <img src="../images/file-download-solid.svg" alt="Download Allegato" title="Download Allegato" height="15" width="15">
              </a>
              {{/attachedFile}}
            </td>
            <td align="right"><a class="DocCommon" href="#">Top</a></td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      {{^link}}
      <td class="Cl-Content" colspan="2">
        <div id="{{id}}-r2">{{>language}}{{{und}}}</div>
      </td>
      {{/link}}
      {{#link}}
      <td class="Cl-Content" colspan="2">
        <div id="{{id}}-r2"><a target="_blank" href="{{{href}}}">{{{href}}}</a></div>
      </td>
      {{/link}}
    </tr>
  </script>
  <script id="valueRowtemplate" type="text/html">
    <tr id="{{id}}-tr">
      <td class="Cl-Level2" colspan="2">
        <span id="{{id}}-r1"></span>
        <a name="link_{{id}}">{{id}}</a>
        {{#attachedFile}}
        <a class="Cl-AttributeAttachedFileDownloadButton" href="{{>nodeApiUrl}}/ReferenceMetadataFileOnServer?filename={{filename}}&nodeId={{>nodeApiNodeId}}">
          <img src="../images/file-download-solid.svg" alt="Download Allegato" title="Download Allegato" height="15" width="15">
        </a>
        {{/attachedFile}}
      </td>
    </tr>
    {{#texts}}
    <tr>
      {{^link}}
      <td class="Cl-Content" colspan="2">
        <div id="{{id}}-r2">{{>language}}{{{und}}}</div>
      </td>
      {{/link}}
      {{#link}}
      <td class="Cl-Content" colspan="2">
        <div id="{{id}}-r2"><a target="_blank" href="{{{href}}}">{{{href}}}</a></div>
      </td>
      {{/link}}
    </tr>
    {{/texts}}
  </script>
  <script id="subtemplate" type="text/html">
    {{#attributeSet.reportedAttributes}}
    {{>valueRowtemplate}}
    {{>recurse}}
    {{/attributeSet.reportedAttributes}}
  </script>
  <script id="template" type="text/html">
    <table class="Cl-TitleTable" id="introtable">
      <tr>
        <td><b>ID</b>: [[>REPORT_ID]]</td>
      </tr>
      <tr>
        <td><b>Target</b>: [[>REPORT_TARGET_ID]]</td>
      </tr>
      [[--TARGET_REF--]]
    </table>
    <br/>
    <table class="Cl-MainTable">
      <tbody>
      <tr>
        <td>
          <table class="Cl-SummaryTable">
            <tbody>
            <tr>
              <td class="Cl-TitleSummary">Metadata</td>
            </tr>
            <tr>
              <td class="Cl-SubTitleSummary"><b>Reference metadata</b></td>
            </tr>
            <tr>
              <td class="Cl-SummaryItem">
                {{#reportedAttributes}}
                <span id="{{id}}-h1"></span>
                <a class="Cl-SummaryItemLink" href="#link_{{id}}">{{id}}</a> <br>

                <!--{{>subhtemplate}}-->
                {{/reportedAttributes}}
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <br/>
          <a class="Cl-DownloadReportLink" id="download-report-button"></a>
        </td>
      </tr>
      </tbody>
    </table>
    <br/>
    {{#reportedAttributes}}
    <table class="Cl-AttributeTable">
      <tbody>
      {{^texts}}
      {{>header1Rowtemplate}}
      {{/texts}}
      {{#texts}}
      {{>value1Rowtemplate}}
      {{/texts}}
      {{>recurse}}
      </tbody>
    </table>
    <br/>
    {{/reportedAttributes}}
  </script>

  <script type="text/javascript">

    const params = window.location.search;
    const urlParams = new URLSearchParams(params);
    let nodeIdToUse = null;

    function loadMustache(ckanJSON, lang, configs) {
      try {
        let report = ckanJSON.data.metadataSets[0].reports[0].attributeSet;
        computeAttributeSetJson(report, lang);
        checkLanguageFieldIntoJson(report, lang);

        const reportRefId = ckanJSON.data.metadataSets[0].reports[0].id;
        const reportTarget = ckanJSON.data.metadataSets[0].reports[0].target;

        const template = document.getElementById('template').innerHTML;
        const subtemplate = document.getElementById('subtemplate').innerHTML;
        const subhtemplate = document.getElementById('subhtemplate').innerHTML;
        const header1Rowtemplate = document.getElementById('header1Rowtemplate').innerHTML;
        const headerRowtemplate = document.getElementById('headerRowtemplate').innerHTML;
        const valueRowtemplate = document.getElementById('valueRowtemplate').innerHTML;
        const value1Rowtemplate = document.getElementById('value1Rowtemplate').innerHTML;

        const output = Mustache.render(template, report, {
          "recurse": subtemplate,
          "subhtemplate": subhtemplate,
          "headerRowtemplate": headerRowtemplate,
          "header1Rowtemplate": header1Rowtemplate,
          "valueRowtemplate": valueRowtemplate,
          "value1Rowtemplate": value1Rowtemplate,
          "language": "{{{" + lang + "}}}",
          "nodeApiUrl": configs.baseUrl,
          "nodeApiNodeId": nodeIdToUse
        });

        let outputMod = replaceAttributeIdWithLabel(output, lang, nodeIdToUse, configs.baseUrl);

        outputMod = outputMod.replace("[[>REPORT_ID]]", reportRefId);
        outputMod = outputMod.replace("[[>REPORT_TARGET_ID]]", reportTarget.id);

        document.getElementById('target').innerHTML = outputMod;

        loadLanguageMenu(lang);

        UpdateCounterParagraf(report);

        let reactRootNode = document.getElementById("react-root");
        if (reactRootNode) {
          reactRootNode.remove();
        }

        var refCounter = 0;

        reportTarget.referenceValues.forEach(currRef => {
          var currRefEl = document.getElementById('span-' + currRef.id);
          if (currRefEl) {
            var ref = currRef.object.toString();
            const eqSimb = ref.indexOf("=");
            if (eqSimb > -1) {
              ref = ref.substring(eqSimb + 1);
            }
            if (ref && ref.trim().length > 0) {
              currRefEl.innerHTML = ref;
            }
          }
        });

        const showIntro = urlParams.get('showIntro');

        var introtableNode = document.getElementById('introtable');
        if (showIntro && showIntro === "false") {
          introtableNode.style.display = "none";
        } else {
          var spanNodes = introtableNode.querySelectorAll('[id^="span-"]');
          for (var i = 0; i < spanNodes.length; i++) {
            if (spanNodes[i].innerText == "") {
              document.getElementById('tr-' + spanNodes[i].id).remove();
            }
          }
        }

        let node1ToRemove = document.getElementById("itchsfahqiaxbzoomZoomDiv");
        let node2ToRemove = document.getElementById("itchsfahqiaxbextImageContainer");
        let bodyHtml = null;
        try {
          bodyHtml = document.getElementById("report-body");
          bodyHtml.removeChild(node1ToRemove);
          bodyHtml.removeChild(node2ToRemove);
        } catch (e) {
        }
        const reportHtml = `<!DOCTYPE html>
                    <head>
                        <meta http-equiv=\"Content-Type\" content=\"text/html; charset=charset=utf-8\">
                        <style type=\"text/css\">
                            
							#introtable {
								display:none;
							}
							
							.Cl-TitleTable {
                                border-collapse: collapse;
                                width: 50%;
                                margin-left: 25%;
                                background-color: #da0d14;/*#ffcc99;*/
                                text-align: center;
	                            color:#FFFFFF;
                            }

                            .Cl-TitleSummary {
                                text-align: center;
                                border: solid black 1pt;
                                background-color: #da0d14;/*#ffcc99;*/
                                color: #000000;
                                /*padding: 2pt 6.45pt 2pt 6.45pt;*/
                                vertical-align: top;
	                            color:#FFFFFF;
                            }

                            .Cl-SubTitleSummary {
                                text-align: center;
                                border: solid black 1pt;
                                border-bottom: none;
                                FONT-SIZE: 11pt;
                                font-weight: normal;
                                /*padding: 1pt 6.45pt 1pt 6.45pt;*/
                                height: 15pt;
                                vertical-align: top;
                            }

                            .Cl-MainTable {
                                border-collapse: collapse;
                                width: 100%;
                            }

                            .Cl-SummaryTable {
                                border-collapse: collapse;
                                width: 50%;
                                border-spacing:0px;
                            }

                            .Cl-SummaryItem {
                                border: solid black 1pt;
                                padding: 1pt 6.45pt 1pt 6.45pt;
                                height: 15pt;
                                vertical-align: top;
                                border-top: none;
                                FONT-SIZE: 11pt;
                                font-weight: normal;
                            }

                            .Cl-HeaderAttributeTable {
                                width :100%;
                            }

                            .Cl-AttributeTable {
                                width: 100%;
                                border-collapse: collapse;
                                border: none;
                            }

                            .DocCommon, P.DocCommon {
                                FONT-SIZE: 11pt;
                                font-weight: normal;
                                MARGIN: 0;
                                text-align: right;
	                            color: #FFFFFF !important;
                            }

                            LI.DocCommon {
                                FONT-SIZE: 11pt;
                                MARGIN: 0;
                            }

                            DIV.DocCommon {
                                FONT-SIZE: 11pt;
                                MARGIN: 0;
                            }

                            .TblBottom {
                                border-collapse: collapse;
                                border: none;
                            }

                            .Cl-Level1 {
                                border: solid black 1pt;
                                background-color: #da0d14;/*#ffcc99;*/
                                color: #000000;
                                padding: 2pt 6.45pt 2pt 6.45pt;
                                vertical-align: top;
                            }

                            .Cl-Level1, .Cl-Level1-NoBorder {
                                FONT-SIZE: 16pt;
                                font-weight: bold;
                                text-align: left;
                                margin: 0;
	                            color:#FFFFFF;
                            }

                            .Cl-Level2 {
                                border: solid black 1pt;
                                padding: 1pt 6.45pt 1pt 6.45pt;
                                background-color: #c7c4c4;/*#ffffcc;*/
                                /*vertical-align: top;*/
                            }

                            .Cl-Level2 {
                                FONT-SIZE: 11pt;
                                font-weight: bold;
                                width: 206px;
                            }

                            .Cl-Content {
                                border: solid black 1pt;
                                padding: 1pt 6.45pt 1pt 6.45pt;
                                height: 15pt;
                                vertical-align: top;
                            }

                            .Cl-Content {
                                FONT-SIZE: 11pt;
                                font-weight: normal;
                            }

                            .Cl-AttributeAttachedFileDownloadButton {
                                background-color: transparent;
                                border: 0;
                                cursor: pointer;
                            }

                            .Cl-DownloadReportLink {
                                cursor: pointer;tra
                            }

                            a:link,
                            a:visited,
                            a:hover,
                            a:active {
                              /*text-decoration: none; */
                              color: #333;
                            }
                        </style>
                    </head > ` +
          bodyHtml.outerHTML +
          "</html > ";
        var blob = new Blob([reportHtml], {encoding: "UTF-8", type: "text/html;charset=UTF-8"});
        var url = URL.createObjectURL(blob);
        var a = document.getElementById('download-report-button');
        a.download = reportRefId + ".html";
        a.href = url;
        a.textContent = "Download Report";

      } catch (e) {
        //console.log(e);
        alert("Report not found!");
        let reactRootNodeE = document.getElementById("react-root");
        if (reactRootNodeE) {
          reactRootNodeE.remove();
        }
      }
    }

    function UpdateCounterParagraf(attributeSet, parentCounterParagraf) {
      if (attributeSet && attributeSet.reportedAttributes) {
        let currCounter = 0;
        var preRep = null;
        attributeSet.reportedAttributes.forEach(currRep => {
          if (preRep == null || preRep.id != currRep.id) {
            if (!parentCounterParagraf) {
              parentCounterParagraf = '';
            }

            var spanNodes = document.querySelectorAll('[id=' + currRep.id + '-r1]');
            let currCounterParagraf = parentCounterParagraf + (++currCounter) + '.';
            if (spanNodes.length > 1) {
              for (var i = 0; i < spanNodes.length; i++) {
                var nodeCounterParagraf = spanNodes[i];
                nodeCounterParagraf.innerHTML = currCounterParagraf + (i + 1) + ".";
              }
              var trParent = document.getElementById(currRep.id + "-tr");
              let newNode = trParent.cloneNode();
              newNode.id = newNode.id + "-h";
              var children = trParent.childNodes;
              children.forEach(function (item) {
                var cln = item.cloneNode(true);
                newNode.appendChild(cln);
              });
              trParent.parentNode.insertBefore(newNode, trParent);
              var nodeCounterParagrafClone = document.getElementById(currRep.id + "-r1");
              nodeCounterParagrafClone.innerHTML = currCounterParagraf;
            } else {
              var nodeCounterParagraf = document.getElementById(currRep.id + "-r1");
              if (nodeCounterParagraf) {
                  nodeCounterParagraf.innerHTML = currCounterParagraf;
                 // if (preRep == null) {
                  var nodeHCounterParagraf = document.getElementById(currRep.id + "-h1");
                  if (nodeHCounterParagraf) {
                    nodeHCounterParagraf.innerHTML = currCounterParagraf;
                  }
                //}
              }

              UpdateCounterParagraf(currRep.attributeSet, currCounterParagraf);
            }
            preRep = currRep;
          }
         
        });
      }
    }

    function UpdateMarginLevel(attributeSet, margin, incr) {
      if (attributeSet && attributeSet.reportedAttributes) {
        attributeSet.reportedAttributes.forEach(currRep => {
          const id = currRep.id;

          var nodes = document.querySelectorAll('[id^="' + id + '-"]');
          for (var i = 0; i < nodes.length; i++) {
            nodes[i].style.marginLeft = margin + "px";
          }
          UpdateMarginLevel(currRep.attributeSet, margin + incr, incr);
        });
      }
    }

    function loadDatasetData(configs, lang, translationData) {
      const reportId = urlParams.get('reportId');
      const metadataSetId = urlParams.get('metadataSetId');
      let baseUrl = configs.baseUrl;
      const nodeId = urlParams.get('nodeId');
      const pingUrl = concatPaths(baseUrl, "/Ping");
      const xmlhttp = new XMLHttpRequest();
      xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState == 4) {
          if (xmlhttp.status == 200 && xmlhttp.responseText === "true") {
            let getMetadataUrl = "/api/getMetadata?metadataSetId=" + metadataSetId + "&reportId=" + reportId;
            if (nodeIdToUse && nodeIdToUse.trim().length > 0) {
              getMetadataUrl += "&nodeId=" + nodeIdToUse;
            } else if (nodeId && nodeId.trim().length > 0) {
              nodeIdToUse = nodeId;
              getMetadataUrl += "&nodeId=" + nodeIdToUse;
            }
            const theUrl = concatPaths(baseUrl, getMetadataUrl);
            loadJSON(theUrl,
              function (response) {
                var reportJson = JSON.parse(response);
                reportJson = addNullForMustache(reportJson);
                loadMustache(reportJson, lang, configs);
              }, function () {
                loadMustache({}, lang, configs);
              }
            );
          } else {
            alert("MetadataApi Endpoint not available!");
          }
        }
      }
      xmlhttp.open("get", pingUrl, true);
      xmlhttp.send(null);
    }

    function addNullForMustache(jsonObj) {
      //console.log(jsonObj);
      var rep = jsonObj.data.metadataSets[0].reports[0];
      if (rep.attributeSet && rep.attributeSet.reportedAttributes) {
        insertNullReportedAttributes(rep.attributeSet.reportedAttributes);
      }
      return jsonObj;
    }

    function insertNullReportedAttributes(reportedAttributes) {
      //console.log(reportedAttributes);
      reportedAttributes.forEach((currReportedAttributes) => {
        if (currReportedAttributes.attributeSet) {
          if (currReportedAttributes.attributeSet.reportedAttributes) {
            insertNullReportedAttributes(currReportedAttributes.attributeSet.reportedAttributes);
          } else {
            currReportedAttributes.attributeSet[reportedAttributes] = null;
          }
        } else {
          currReportedAttributes["attributeSet"] = {};
          currReportedAttributes.attributeSet["reportedAttributes"] = null;
        }
      });
    }

    function renderData() {
      try {
        const lang = urlParams.get('lang');
        if (lang == null || lang.trim().length == 0)
          throw "Parameter lang not specified!";
        const reportId = urlParams.get('reportId');
        if (reportId == null || reportId.trim().length == 0)
          throw "Parameter reportId not specified!";
        const metadataSetId = urlParams.get('metadataSetId');
        if (metadataSetId == null || metadataSetId.trim().length == 0)
          throw "Parameter metadataSetId not specified!";
        let baseUrlMDA = urlParams.get('BaseUrlMDA');
        let baseUrlMDM = window.location.origin;

        loadJSON('../metadataapi.json',
          function (response) {
            let configs = JSON.parse(response);
            if (baseUrlMDA) {
              if (baseUrlMDA.endsWith("/")) {
                baseUrlMDA = baseUrlMDA.substring(0, baseUrlMDA.length - 1);
              }
              loadJSON(baseUrlMDA + '/Ping',
                function (response) {
                  if (response && response === "true") {
                    configs.baseUrl = baseUrlMDA;
                  }
                }
              );
            }
            if (baseUrlMDM) {
              if (baseUrlMDM.endsWith("/")) {
                baseUrlMDM = baseUrlMDM.substring(0, baseUrlMDM.length - 1);
              }
              configs.baseUrlClient = baseUrlMDM;
            }
            loadDatasetData(configs, lang, null);
          }
        );
      } catch (e) {
        alert(e);
      }
    }

    function loadLanguageMenu(currLanguage) {
      let langSpaElems = document.querySelectorAll('[id ^= "spa-language-"]');
      langSpaElems.forEach(currLangSpaElems => currLangSpaElems.style.display = "none");

      let langSpaEl = document.getElementById("spa-language-" + currLanguage);
      langSpaEl.style.display = "block";
    }

    function changeLanguageMenuIcon(currLanguage) {
      let url = window.location.origin;
      let pathname = window.location.pathname;
      let params = window.location.search;

      const urlParams = new URLSearchParams(params);
      const lang = urlParams.get('lang');
      const currLang = 'lang=' + lang;
      const newLang = 'lang=' + currLanguage;
      params = params.replace(currLang, newLang);
      const newUrl = url + pathname + params;
      window.location.href = newUrl;
    }
  </script>

</head>

<body id="report-body" onload="renderData()">
<div class="container-fluid">
  <div id="react-root">
    <style>
        .preloader__background {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: #545456
        }

        .preloader__center {
            position: absolute;
            width: 300px;
            height: 150px;
            left: 50%;
            top: 50%;
            margin: -75px 0 0 -150px;
            text-align: center
        }

        .preloader__logo {
            position: absolute;
            width: 100px;
            top: 0;
            left: 50%;
            margin-left: -50px
        }

        .preloader__image {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -15px 0 0 -15px;
            color: #fff
        }

        @keyframes loadingCircle {
            100% {
                -webkit-transform: rotate(360deg);
                transform: rotate(360deg)
            }
        }

        .preloader__spinner__icon {
            animation: loadingCircle 1s infinite linear
        }

        .preloader__message {
            position: absolute;
            width: 300px;
            bottom: 0;
            font-family: sans-serif;
            text-align: center;
            margin: auto;
            color: #fff;
            font-size: 16px
        }

        .preloader__error-icon {
            display: none
        }
    </style>
    <div class="preloader__background">
      <div class="preloader__center">
        <img class="preloader__logo" src="../images/Statkit.png">
        <svg class="preloader__image preloader__spinner__icon" viewBox="0 0 1024 1024" width="30" height="30" fill="currentColor">
          <path
              d="M988 548c-19.9 0-36-16.1-36-36 0-59.4-11.6-117-34.6-171.3a440.45 440.45 0 0 0-94.3-139.9 437.71 437.71 0 0 0-139.9-94.3C629 83.6 571.4 72 512 72c-19.9 0-36-16.1-36-36s16.1-36 36-36c69.1 0 136.2 13.5 199.3 40.3C772.3 66 827 103 874 150c47 47 83.9 101.8 109.7 162.7 26.7 63.1 40.2 130.2 40.2 199.3.1 19.9-16 36-35.9 36z"></path>
        </svg>
        <svg class="preloader__image preloader__error-icon" viewBox="64 64 896 896" width="30" height="30" fill="currentColor">
          <path
              d="M685.4 354.8c0-4.4-3.6-8-8-8l-66 .3L512 465.6l-99.3-118.4-66.1-.3c-4.4 0-8 3.5-8 8 0 1.9.7 3.7 1.9 5.2l130.1 155L340.5 670a8.32 8.32 0 0 0-1.9 5.2c0 4.4 3.6 8 8 8l66.1-.3L512 564.4l99.3 118.4 66 .3c4.4 0 8-3.5 8-8 0-1.9-.7-3.7-1.9-5.2L553.5 515l130.1-155c1.2-1.4 1.8-3.3 1.8-5.2z"></path>
          <path
              d="M512 65C264.6 65 64 265.6 64 513s200.6 448 448 448 448-200.6 448-448S759.4 65 512 65zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"></path>
        </svg>
        <div class="preloader__message">
          <span class="preloader__message__loading">Loading...</span>
          <noscript>
            Please enable JavaScript
            <style>
                .preloader__message__loading,
                .preloader__spinner__icon {
                    display: none
                }

                .preloader__error-icon {
                    display: block
                }
            </style>
          </noscript>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <div id="header-img-catalog">
        <img src="../images/Statkit_mini.png" class="Cl-Header-Img-Catalog">
      </div>
    </div>
    <div class="col-10">
      <div id="header-title-catalog" class="Cl-Header-Title-Catalog"></div>
    </div>
    <div class="col-1">
      <div class="btn-group Cl-flag-btn-group">
        <button type="button" class="btn btn-default Cl-dropdown-menu Cl-flag-btn" data-toggle="dropdown">
          <div id="spa-language-en"><i class="Cl-FlagEN Cl-Flag"></i><i class="caret"></i></div>
        </button>
        <ul class="dropdown-menu Cl-dropdown-menu" role="menu">
          <li><a href="#" onclick="changeLanguageMenuIcon('en')">English</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <p class="col-12" id="target">

    </p>
  </div>
</div>
</body>
</html>