﻿<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" type="text/css" href="../css/mystyle.css"/>
  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon"/>
  <title>Metadataset Info</title>
  <script src="../vendor/mustache.min.js"></script>
  <script src="../js/util.js"></script>
  <script src="../js/common.js"></script>

  <script id="headerRowtemplate" type="text/html">
    <tr>
      <td class="Cl-Level1" colspan="2">
        <a name="{{id}}"></a><a name="link_{{id}}"></a>
        <table class="Cl-HeaderAttributeTable">
          <tbody>
          <tr>
            <td><b>ID:</b> [[>METADATASET_ID]]</td>
          </tr>
          <tr>
            <td><b>NOME:</b> [[>METADATASET_NAME]]</td>
          </tr>
          <tr>
            <td><b>MSD:</b> [[>METADATASET_MSD]]</td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </script>
  <script id="valueRowtemplate" type="text/html">
    <tr>
      <td class="Cl-Level2"><a name="link_{{id}}"></a>{{id}}</td>
      <td class="Cl-Content">{{>languagetemplate}}{{und}}</td>
    </tr>
  </script>
  <script id="subtemplate" type="text/html">
    {{#attributeSet.reportedAttributes}}
    {{^texts}}
    {{>headerRowtemplate}}
    {{/texts}}
    {{#texts}}
    {{>valueRowtemplate}}
    {{/texts}}
    {{>recurse}}
    {{/attributeSet.reportedAttributes}}
  </script>
  <script id="template" type="text/html">

    <table class="Cl-TitleTable">
      <tbody>
      <tr>
        <td><b>ID:</b> [[>METADATASET_ID]]</td>
      </tr>
      <tr>
        <td><b>NOME:</b> [[>METADATASET_NAME]]</td>
      </tr>
      <tr>
        <td><b>MSD:</b> [[>METADATASET_MSD]]</td>
      </tr>
      </tbody>
    </table>
    <br/>
    {{#metadataset}}
    <table class="Cl-AttributeTable">
      <tbody>
      <tr>
        <td class="Cl-ColHeaderReports" colspan="4">
          <table class="Cl-HeaderAttributeTable">
            <tbody>
            <tr>
              <td class="Cl-ColReports">METADATASET DATA</td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td class="Cl-Level2">METADATAFLOW</td>
        <td class="Cl-Content">{{metadataflow}}</td>
      </tr>
      <tr>
        <td class="Cl-Level2">MSD</td>
        <td class="Cl-Content">[[--METADATASET_MSD--]]</td>
      </tr>
      <tr>
        <td class="Cl-Level2">Reporting Begin-End</td>
        <td class="Cl-Content">{{reportingBegin}} - {{reportingEnd}}</td>
      </tr>
      <tr>
        <td class="Cl-Level2">Valid From-To</td>
        <td class="Cl-Content">{{validFrom}} - {{validTo}}</td>
      </tr>
      </tbody>
    </table>
    <br/>
    {{/metadataset}}

    <table class="Cl-AttributeTable">
      <tbody>
      <tr>
        <td class="Cl-ColHeaderReports" colspan="2">
          <table class="Cl-HeaderAttributeTable">
            <tbody>
            <tr>
              <td class="Cl-ColReports">REPORTS ( ID - DATAFLOW )</td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      {{#reports}}
      <tr>
        <td class="Cl-Level2">{{id}}</td>
        <td class="Cl-Content">
          <a target="_blank"
             href="{{>getMetadataUrl}}?lang={{>language}}&BaseUrlMDA={{>baseUrlMDA}}&nodeId={{>nodeId}}&metadataSetId={{>metadataSetId}}&reportId={{id}}">
            {{#target.referenceValues}}
            {{object}}
            {{/target.referenceValues}}
          </a>
        </td>
      </tr>
      {{/reports}}
      </tbody>
    </table>
  </script>

  <script type="text/javascript">

    const params = window.location.search;
    const urlParams = new URLSearchParams(params);
    let nodeIdToUse = null;

    function loadMustache(ckanJSON, lang, configs) {
      let baseUrl = urlParams.get('BaseUrlMDA');
      if (!baseUrl || baseUrl == null) {
        baseUrl = configs.baseUrl;
      }
      const currUrl = window.location;
      const templatesUrl = currUrl.origin + currUrl.pathname.split("/").slice(0, -1).join("/");
      let getMetadataUrl = concatPaths(templatesUrl, "/GenericMetadataTemplate.html");
      let report = null;
      try {
        var currMet = ckanJSON.data.metadataSets[0];
        try {
          if (currMet.reportingBegin) {
            currMet.reportingBegin = convertDate(currMet.reportingBegin);
          }
          if (currMet.reportingEnd) {
            currMet.reportingEnd = convertDate(currMet.reportingEnd);
          }
          if (currMet.validFrom) {
            currMet.validFrom = convertDate(currMet.validFrom);
          }
          if (currMet.validTo) {
            currMet.validTo = convertDate(currMet.validTo);
          }
        } catch (e) {
        }
        for (const annIndex in currMet.annotations) {
          let currAnn = currMet.annotations[annIndex];
          if (currAnn.id == "MetadataflowId") {
            currMet.MetadataflowId = currAnn.text;
          } else if (currAnn.id == "MetadataflowAgency") {
            currMet.MetadataflowAgency = currAnn.text;
          } else if (currAnn.id == "MetadataflowVersion") {
            currMet.MetadataflowVersion = currAnn.text;
          } else if (currAnn.id == "MSDId") {
            currMet.MSDId = currAnn.text;
          } else if (currAnn.id == "MSDAgency") {
            currMet.MSDAgency = currAnn.text;
          } else if (currAnn.id == "MSDVersion") {
            currMet.MSDVersion = currAnn.text;
          }
        }

        currMet.metadataflow = currMet.MetadataflowAgency + ":" + currMet.MetadataflowId + "(" + currMet.MetadataflowVersion + ")"

        var reports = [];
        for (var i = 0; i < ckanJSON.data.metadataSets[0].reports.length; i++) {
          let report = ckanJSON.data.metadataSets[0].reports[i];
          report.target.referenceValues.forEach(refValue => {
            if (refValue.object.indexOf("=") > -1) {
              refValue.object = refValue.object.substring(refValue.object.indexOf("=") + 1);
            }
          });
          computeAttributeSetJson(report.attributeSet, lang);
          checkLanguageFieldIntoJson(report.attributeSet, lang);
          reports.push(report);
        }
        var jsonData = {"metadataset": currMet, "reports": reports}

        const metadataSetId = urlParams.get('metadataSetId');

        const template = document.getElementById('template').innerHTML;
        const subtemplate = document.getElementById('subtemplate').innerHTML;
        const headerRowtemplate = document.getElementById('headerRowtemplate').innerHTML;
        const valueRowtemplate = document.getElementById('valueRowtemplate').innerHTML;
        const output = Mustache.render(template, jsonData, {
          "recurse": subtemplate,
          "getMetadataUrl": getMetadataUrl,
          "headerRowtemplate": headerRowtemplate,
          "valueRowtemplate": valueRowtemplate,
          "language": lang,
          "languagetemplate": "{{" + lang + "}}",
          "nodeId": nodeIdToUse,
          "metadataSetId": metadataSetId,
          "baseUrlMDA": baseUrl
        });
        const outputMod = replaceAttributeIdWithLabel(output, lang, nodeIdToUse, baseUrl);
        document.getElementById('target').innerHTML = outputMod;
        document.getElementById("react-root").remove();
      } catch (e) {
        alert("MetadataSet not found!");
        document.getElementById("react-root").remove();
      }
    }

    function loadDatasetData(configs, lang, translationData) {
      const metadataSetId = urlParams.get('metadataSetId');
      let baseUrl = urlParams.get('BaseUrlMDA');
      if (!baseUrl || baseUrl == null) {
        baseUrl = configs.baseUrl;
      }

      const nodeId = urlParams.get('nodeId');
      let theUrl = concatPaths(baseUrl, "/api/getMetadata?metadataSetId=" + metadataSetId);
      if (nodeId && nodeId.trim().length > 0) {
        nodeIdToUse = nodeId.trim();
        theUrl += "&nodeId=" + nodeIdToUse;
      }
      const xmlHttp = new XMLHttpRequest();
      xmlHttp.onreadystatechange = function () {
        if (xmlHttp.readyState == 4) {
          if (xmlHttp.status == 200) {
            var dataset = JSON.parse(xmlHttp.responseText);
            loadMustache(dataset, lang, configs);
          } else {
            loadMustache({}, lang, configs);
          }
        }
      }
      xmlHttp.open("GET", theUrl, true);
      xmlHttp.send(null);
    }

    function renderData() {
      try {
        const lang = urlParams.get('lang');
        if (lang == null || lang.trim().length == 0)
          throw "Parameter lang not specified!";
        const metadataSetId = urlParams.get('metadataSetId');
        if (metadataSetId == null || metadataSetId.trim().length == 0)
          throw "Parameter metadataSetId not specified!";
        let baseUrlMDA = urlParams.get('BaseUrlMDA');
        let baseUrlMDM = window.location.origin;

        loadJSON('../metadataapi.json',
          function (response) {
            const configs = JSON.parse(response);
            if (baseUrlMDA) {
              if (baseUrlMDA.endsWith("/")) {
                baseUrlMDA = baseUrlMDA.substring(0, baseUrlMDA.length - 1);
              }
              loadJSON(baseUrlMDA + '/Ping',
                function (response) {
                  if (response && response === "true") {
                    configs.baseUrl = baseUrlMDA;
                  }
                });
            }
            if (baseUrlMDM) {
              if (baseUrlMDM.endsWith("/")) {
                baseUrlMDM = baseUrlMDM.substring(0, baseUrlMDM.length - 1);
              }
              configs.baseUrlClient = baseUrlMDM;
            }
            loadDatasetData(configs, lang, null);
          }
        );
      } catch (e) {
        alert(e);
      }
    }

  </script>

</head>

<body onload="renderData()">
<div id="react-root">
  <style>
      .preloader__background {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background: #545456
      }

      .preloader__center {
          position: absolute;
          width: 300px;
          height: 150px;
          left: 50%;
          top: 50%;
          margin: -75px 0 0 -150px;
          text-align: center
      }

      .preloader__logo {
          position: absolute;
          width: 100px;
          top: 0;
          left: 50%;
          margin-left: -50px
      }

      .preloader__image {
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -15px 0 0 -15px;
          color: #fff
      }

      @keyframes loadingCircle {
          100% {
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg)
          }
      }

      .preloader__spinner__icon {
          animation: loadingCircle 1s infinite linear
      }

      .preloader__message {
          position: absolute;
          width: 300px;
          bottom: 0;
          font-family: sans-serif;
          text-align: center;
          margin: auto;
          color: #fff;
          font-size: 16px
      }

      .preloader__error-icon {
          display: none
      }
  </style>
  <div class="preloader__background">
    <div class="preloader__center">
      <img class="preloader__logo" src="../images/Statkit.png">
      <svg class="preloader__image preloader__spinner__icon" viewBox="0 0 1024 1024" width="30" height="30" fill="currentColor">
        <path
            d="M988 548c-19.9 0-36-16.1-36-36 0-59.4-11.6-117-34.6-171.3a440.45 440.45 0 0 0-94.3-139.9 437.71 437.71 0 0 0-139.9-94.3C629 83.6 571.4 72 512 72c-19.9 0-36-16.1-36-36s16.1-36 36-36c69.1 0 136.2 13.5 199.3 40.3C772.3 66 827 103 874 150c47 47 83.9 101.8 109.7 162.7 26.7 63.1 40.2 130.2 40.2 199.3.1 19.9-16 36-35.9 36z"></path>
      </svg>
      <svg class="preloader__image preloader__error-icon" viewBox="64 64 896 896" width="30" height="30" fill="currentColor">
        <path
            d="M685.4 354.8c0-4.4-3.6-8-8-8l-66 .3L512 465.6l-99.3-118.4-66.1-.3c-4.4 0-8 3.5-8 8 0 1.9.7 3.7 1.9 5.2l130.1 155L340.5 670a8.32 8.32 0 0 0-1.9 5.2c0 4.4 3.6 8 8 8l66.1-.3L512 564.4l99.3 118.4 66 .3c4.4 0 8-3.5 8-8 0-1.9-.7-3.7-1.9-5.2L553.5 515l130.1-155c1.2-1.4 1.8-3.3 1.8-5.2z"></path>
        <path
            d="M512 65C264.6 65 64 265.6 64 513s200.6 448 448 448 448-200.6 448-448S759.4 65 512 65zm0 820c-205.4 0-372-166.6-372-372s166.6-372 372-372 372 166.6 372 372-166.6 372-372 372z"></path>
      </svg>
      <div class="preloader__message">
        <span class="preloader__message__loading">Loading...</span>
        <noscript>
          Please enable JavaScript
          <style>
              .preloader__message__loading,
              .preloader__spinner__icon {
                  display: none
              }

              .preloader__error-icon {
                  display: block
              }
          </style>
        </noscript>
      </div>
    </div>
  </div>
</div>
<p id="target">

</p>
</body>
</html>